
<%- include('./includes/head.ejs')%>
</head>
<body>
    <%- include('./includes/navigation.ejs') %>
    <h1 style="margin: 1em; text-align: center; color: red;">Page Not Found!</h1>

<%- include('./includes/footer.ejs') %>