<%- include('./includes/head.ejs')%>
    </head>

    <body>
        <%- include('./includes/navigation.ejs') %>
            <h1 style="margin: 1em; text-align: center; color: red;">Some Error occureed</h1>
            <p style="margin: 1em; text-align: center; color: red;">We're fixing this, sorry for the inconvenience!</p>

            <%- include('./includes/footer.ejs') %>